[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=2.5.2"
coverage = ">=3.7.1"
factory-boy = ">=2.3.1"
marshmallow = "~=3.0"
schematics = ">=1.0"
importlib-metadata = "*"

[packages]
six = ">=1.8.0"

[requires]
python_version = "3.8"
